@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:#F2F4F7;
}

#__next{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

a:active{
  color: aqua;
}

a:hover{
  color: aquamarine;
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

header {
  background: White;
  color: rgb(0, 0, 0);
}


header a {
  color: black;
}

.nav-container{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 10px;
}

.container {
  max-width: 1024px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 10px;
  margin: 0 auto;
}

.container>h2{
  flex-basis: 50%;
}

.nav-links{
  margin-left: 20px;
  color: black;
  font-weight: 500;
  font-size: large;
  flex-basis: 100%;

}


.menu-btn{
  background-color: #fff;
  border:none;
  display: none;
  flex-basis: 50%;
  text-align: right;
  font-size: 25px;
}

.btn {
  display: inline-block;
  color: black;
  border: none;
  padding: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  text-decoration: underline;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
  text-decoration: underline;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {  
  border-radius: 6px;
  background-color: #fff;
}

.card-page {
  padding: 15px 30px;
  background-color: #fff;
}

.card-details{
  padding: 15px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 200;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
  margin-left: 10px;
  
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
  overflow: auto;
}

.post-body{
  padding: 15px;
}

footer{
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  color: #f4f4f4;
  background-color:darkgrey;
  margin-top: auto;
  font-size: 10px;
}

.about-container{
  margin: auto;
  max-width: 600px;
  padding: 15px;
  
}



.avatar-img>*{
  border-radius: 50px;
}

.flex-container{
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.c-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  align-items: center;
}

.c-container>span{
  display: flex;
  padding: 5px 10px;
}

.contact-details{
  font-size: 20px;
  font-weight: 100;
  margin-left: 10px;
}


@media (max-width: 600px) {
  .posts {
    grid-template-columns: 1fr;
  }
  .nav-links-container{
    display: none;
  }
  .menu-btn{
    display: inline;
  }
  .nav-links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 3px;
  }
  .nav-links{
    margin: 0 auto;
    z-index:1;
  }
  .card-page{
    padding: 5px;
  }
  .container{
    padding: 10px;
    margin: 0;
  }
}

